//#about

#about .container:first-child blockquote {
    @include quoteBox;
}

blockquote p {
    padding: $padding;
}

#about .container ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" id="largerSub" version="1.1" viewBox="0 0 725.03 236.56"><!-- Generator: Adobe Illustrator 29.8.2, SVG Export Plug-In . SVG Version: 2.1.1 Build 3) --><line x1="16.92" y1="161.83" x2="53.87" y2="161.83" fill="none" stroke="%23e9da68" stroke-miterlimit="10" stroke-width="9"/><path d="M16.92,103.04c-8.62,0-16.92,12.68-16.92,28.92s8.29,29.88,16.92,29.88v-58.79Z" fill="%23e9da68"/><path d="M16.92,220.87c8.62.03,16.77-13.77,16.83-30s-8.13-29.09-16.76-29.12l-.08,59.12Z" fill="%23e9da68"/><path d="M724.13,159.86c-11.03-67.33-147.45-53.98-227.21-67.99,1.63-11.11.35-34.86-14.03-36.25,0,0-39.64,0-39.64,0,2.18-5.37-2.5-11.66-8.33-11.54-27.46-2.14-29.3,10.04-27.92-22.38,0,0,15.8,6.37,15.8,6.37l.05-28.08-22.63,9.15c.13.1-.1,9.05,0,9.41,1.86,38.58-.84,22.27-39.14,25.52-5.82-.11-10.11,6.49-7.92,11.87-43.92,2.57-54.26-14.66-72.45,35.91-69.9,6.92-146.79,6.98-189.72,41.39-9.57,1.14-38.01-5.83-37.13,11.62,1.34,28.56-10.11,51.52,30.96,46.08,6.86,14.93,23.79,28.96,61.19,36.72,57.37,11.91,172.01,5.19,256.19,5.19,121.95,0,338.53,28.5,321.91-73.01Z" fill="%23e9da68"/></svg>');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-origin: border-box;
}

#about .container ul li {
    padding: 10px;
    margin: 5px;
    font-weight: $font-weight-strong;
}

#about ul li::before {
    content: "🦐";
    display: inline-block;
}

@include breakpoint(computer) {
    #about .container {
        position: relative;
    }

    @keyframes swim {
        0% { transform: translate(0,0); }
        10% { transform: translateY(-20%); }
        20% { transform: translateY(-15%); }
        30% { transform: translateY(-30%); }
        40% { transform: translateY(-50%); }
        50% { transform: translateY(-30%); }
        70% { transform: translateY(-10%); }
        80% { transform: translateY(-40%); }
        100% {transform: translate(0,0); }
    }

    @keyframes crab {
        0% { transform: translateX(0); }
        50% { transform: translateX(-100%); }
        100% { transform: translateX(0); }
    }

    #about .container:first-child h2::after {
        content: "🐙";
        display: inline-block;
        position: absolute;
        width: 100%;
        top: 2%;
        left: -23%;
        animation: swim 8s linear infinite;
    }

    #about .container:nth-child(2) h2::before {
        content: "🦀";
        display: inline-block;
        position: absolute;
        width: 100%;
        top: 2%;
        right: 2%;
        animation: crab 10s ease-in-out infinite;
    }

    #about .container:first-child {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "title ."
            ". para1"
            ". para2"
            ". quote"
            ". para3";
        justify-content: center;
        align-items: center;
        column-gap: $margin;
    }

    #about .container:first-child h2 {
        grid-area: title;
    }

    #about .container:first-child p:nth-child(2) {
        grid-area: para1;
    }

    #about .container:first-child p:nth-child(3) {
        grid-area: para2;
    }

    #about .container:first-child blockquote {
        grid-area: quote;
    }

    #about .container:first-child p:nth-child(5) {
        grid-area: para3;
    }

    #about .container:nth-child(2){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            ". . title2 title2"
            "p1 p1 p1 ."
            "p2 p2 p2 ."
            "cssList cssList cssList ."
            "p3 p3 p3 ."
            "p4 p4 p4 .";
        justify-content: center;
        align-items: center;
        column-gap: $margin;
    }

    #about .container:nth-child(2) h2 {
        grid-area: title2;
    }

    #about .container:nth-child(2) p:nth-child(2) {
        grid-area: p1;
    }

    #about .container:nth-child(2) p:nth-child(3) {
        grid-area: p2;
    }

    #about .container:nth-child(2) ul {
        grid-area: cssList;
        padding: 25px;
    }

    #about .container:nth-child(2) p:nth-child(5) {
        grid-area: p3;
    }

    #about .container:nth-child(2) p:nth-child(6) {
        grid-area: p4;
    }
}
