//bubble images created with CSS Shapes

#about, #guidelines, #contribute, #files, .profile, #styles {
  position: relative;
}

#main .container::before, #main .container::after, 
.profile .container::before, .profile .container::after,
#styles .container::before, #styles .container::after {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: radial-gradient(circle at 70% 30%, white 10%, #6baed6);
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container::before {
    top: 30%;
    left: 30%;
}

.container::after {
  top:50%;
  left: 40%;
}